.root {
	background-color: #f8f5f0;
	padding: 100px 0;
	margin-bottom: 100px;
	.wrapper {
		max-width: 1190px;
		margin: 0 auto;
		padding: 0 25px;
	}
	.content {
		display: grid;
		grid-template-columns: 400px 1fr;
		gap: 0 30px;
		@media (max-width: 1200px) {
			grid-template-columns: 400px;
		}
		@media (max-width: 444px) {
			grid-template-columns: 300px;
		}
		align-items: center;
		@media (max-width: 1200px) {
			justify-content: center;
			align-items: center;
		}
		.left {
			.text1 {
				color: #dba765;
				font-size: 17px;
				text-transform: uppercase;
				font-family: 'Cormorant Garamond', serif;
				font-style: normal;
				letter-spacing: 2px;
				font-weight: 500;
				margin-bottom: 15px;
				@media (max-width: 1200px) {
					text-align: center;
				}
			}
			.text2 {
				color: #000000;
				font-family: 'Cormorant Garamond', serif;
				font-style: normal;
				font-size: 45px;
				font-weight: 500;
				margin-bottom: 25px;
				@media (max-width: 1200px) {
					text-align: center;
				}
			}
			.text3 {
				font-size: 17px;
				font-family: 'Josefin Sans', sans-serif;
				color: #4d4d4d;
				font-weight: 400;
				margin-bottom: 25px;
				line-height: 23px;
				@media (max-width: 1200px) {
					text-align: center;
				}
			}
			.phone {
				display: flex;
				align-items: center;
				gap: 0 10px;
				@media (max-width: 1200px) {
					justify-content: center;
					margin-bottom: 20px;
				}

				.phone__left {
					.icon {
						@media (max-width: 430px) {
							width: 40px;
						}
					}
				}
				.phone__right {
					p {
						font-family: 'Josefin Sans', serif;
						font-size: 21px;
						color: #dba765;
						margin-bottom: 7px;
					}
					span {
						font-family: 'Josefin Sans', serif;
						font-size: 21px;
						color: #4d4d4d;
					}
				}
			}
		}
		.right {
			width: 100%;
			max-width: 1200px;
			overflow: hidden;
		}
		.swiper {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;
		}

	
	}
}
